@model TrustyPortfolio.Models.Domain.BlogPost

@{
    ViewData["Title"] = Model.Title;
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            @if (Model != null) {
                <h1 class="mb-3">
                    @Model.Title
                </h1>
                <div class="d-flex justify-content-end mb-3">
                    <span>Published: @Model.PublishDate.ToShortDateString()</span>
                </div>
                <div class="justify-content-between">
                    <div class="mb-3 d-flex">
                        @foreach (var tag in Model.Tags) {
                            <span class="badge bg-secondary me-1">@tag.Name</span>
                        }
                    </div>
                    <div class="mb-4 w-100">
                        @if (Model.Project != null && !string.Equals(Model.Project.Title, "-- BLANK --")) {
                            <a href="/Projects?urlHandle=@Model.Project.UrlHandle" class="btn btn-lg btn-primary" type="button">Project Overview</a>
                        }
                    </div>
                </div>
                
                <img src="@Model.FeaturedImageUrl" class="d-block img-fluid mb-3 w-100"/>
                <div class="mb-3 blog-details-content">
                    @Html.Raw(Model.Content)
                </div>
            } else {
                <p>Blog Post Not Found!</p>
            }
        </div>
    </div>
</div>

<div id="disqus_thread"></div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://trustytea-1.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
