@if (!Projects.Any() || Projects == null) {
    <div class="d-flex justify-content-center align-items-center">
        <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
    </div>
} else {
    <MudCarousel Class="mud-width-full pa-4" Elevation="2" Style="height:100%;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
        @foreach (var project in Projects)
        {
            <MudLink Href="@GetProjetHandleURL(project)">
                <MudCarouselItem Transition="Transition" Color="@Color.Primary">
                    <div class="d-flex justify-center" style="height:100%">
                        <MudImage ObjectFit="ObjectFit.Contain" Fluid="true" Src="@project.FeaturedImageUrl" />
                    </div>
                    <MudText Align="@Align.Center" Class="mx-auto">@project.Title</MudText>
                </MudCarouselItem>
            </MudLink>
        }
    </MudCarousel>
}