@if (!Blogs.Any() || Blogs == null) {
    <div class="d-flex justify-content-center align-items-center">
        <MudProgressCircular Color="Color.Primary" Size="Size.Large" Indeterminate="true" />
    </div>
} else {
    <MudText Class="carousel-header mb-4" Typo="Typo.h3" Align="@Align.Center">Featured Blogs</MudText>
    <MudCarousel Class="mud-width-full pa-4" Elevation="2" Style="height:400px;" ShowArrows="@arrows" ShowBullets="@bullets" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
        @foreach (var blog in Blogs) {
            <MudLink Href="@GetProjetHandleURL(blog)">
                <MudCarouselItem Transition="Transition" Color="@Color.Inherit">
                    <MudText Typo="Typo.h5" Align="@Align.Center" Class="mx-auto">@blog.Title</MudText>
                    <MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-content-start justify-content-center">
                        <MudImage Width="300" Height="300" Class="rounded-lg ma-4" Elevation="19" Fluid="true" Src="@blog.FeaturedImageUrl" />
                    </MudContainer>
                </MudCarouselItem>
            </MudLink>
        }
    </MudCarousel>
}