@inherits LayoutComponentBase
@namespace TrustyPortfolio.Components.Layout

<MudThemeProvider @ref="@mudThemeProvider" @bind-IsDarkMode="@IsDarkMode" Theme="MyCustomTheme" />
<MudDialogProvider />
<MudSnackbarProvider />

<MudContainer Class="page">
    <MudLayout>
        <MudAppBar Elevation="1">
            <AuthorizeView>
                <Authorized>
                    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
                </Authorized>
            </AuthorizeView>
            <div class="d-flex justify-content-center flex-grow-1">
                <MudTabs Elevation="4" Rounded="true" Centered="true" Color="@Color.Primary" ActivePanelIndexChanged="Handle_ActivePanelIndexChanged">
                    <MudTabPanel Text="Home" />
                    <MudTabPanel Text="Blog" />
                    <MudTabPanel Text="Projects" />
                    <MudTabPanel Text="About" />
                    <MudTabPanel Text="Resume" />
                </MudTabs>
            </div>
            <div class="ml-auto">
                <AuthorizeView>
                    <Authorized>
                        <form action="Account/Logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                            <button type="submit" class="nav-link">
                                <MudButton Variant="Variant.Filled" Color="Color.Secondary">Logout</MudButton>
                            </button>
                        </form>
                    </Authorized>
                </AuthorizeView>
                </div>
        </MudAppBar>
        <AuthorizeView>
            <Authorized>
                <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
                    <NavMenu />
                </MudDrawer>
            </Authorized>
        </AuthorizeView>
        <MudMainContent>
            <CascadingValue Value="PortfolioData">
                @Body
            </CascadingValue>
        </MudMainContent>
    </MudLayout>
</MudContainer>

<MudContainer id="blazor-error-ui">
    An unhandled error has occurred.
    <MudLink Href="" Class="reload">Reload</MudLink>
    <MudLink Class="dismiss">🗙</MudLink>
</MudContainer>