@inherits LayoutComponentBase
@namespace TrustyPortfolio.Components.Layout
<MudThemeProvider @ref="@mudThemeProvider" @bind-IsDarkMode="@IsDarkMode" Theme="MyCustomTheme"/>
<MudDialogProvider />
<MudSnackbarProvider />

<MudContainer Class="page">
    <MudLayout>
        <MudAppBar Elevation="1">
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
            <MudText Typo="Typo.h5" Class="ml-3">Trusty Portfolio</MudText>
            <MudSpacer />
            <AuthorizeView>
                <Authorized>
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="nav-link">
                            <MudButton Variant="Variant.Filled" Color="Color.Secondary">Logout</MudButton>
                        </button>
                    </form>
                </Authorized>
                <NotAuthorized>
                    <MudButton OnClick="Login" Variant="Variant.Filled" Color="Color.Secondary">Login</MudButton>
                </NotAuthorized>
            </AuthorizeView>
            <MudToggleIconButton @bind-Toggled="@IsDarkMode"
                                 Icon="@Icons.Material.TwoTone.WbSunny" Style="@ToggledColor" Title="Off"
                                 ToggledIcon="@Icons.Material.Filled.Nightlight" ToggledTitle="On" />
            <AuthorizeView>
                <MudAvatar>
                    <MudImage Src=""></MudImage>
                </MudAvatar>
            </AuthorizeView>
        </MudAppBar>
        <MudDrawer @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
            <NavMenu />
        </MudDrawer>
        <MudMainContent>
            <CascadingValue Value="PortfolioData">
                @Body
            </CascadingValue>
        </MudMainContent>
    </MudLayout>
</MudContainer>

<MudContainer id="blazor-error-ui">
    An unhandled error has occurred.
    <MudLink Href="" Class="reload">Reload</MudLink>
    <MudLink Class="dismiss">🗙</MudLink>
</MudContainer>