@page "/"
@using TrustyPortfolio.Components.Components

<PageTitle>Home</PageTitle>

@inherits LayoutComponentBase
@using TrustyPortfolio.Models.ViewModels

<div class="container col-xxl-8 px-4 py-5">
    <div class="row g-5 py-5">
        <div class="col-12 col-lg-6">
            <MudContainer Class="mt-6">
                <MudText Style="@($"color:#FFFFFF;")" Typo="Typo.h3" Class="mb-12">Hi! My name is Ryan!</MudText>
                <MudText Typo="Typo.h6">I'm a Software Engineer!</MudText>
            </MudContainer>
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-center">
            <img style="border-radius: 50%" src="https://res.cloudinary.com/djdtmbpce/image/upload/c_crop,g_auto,h_800,w_800/l8mrq0vrbuaugbw9vpbt.jpg"
                 alt="Profile Picture ;)"
                 class="img-fluid" width="250" />
        </div>
        <div class="col-12 d-flex justify-content-center">
            <MudContainer Style="display: flex;justify-content: center;align-items: center;">
                <MudLink Class="mx-4" Href="https://www.linkedin.com/in/ryan-flores-tt" Target="_blank">
                    <MudIcon Size="Size.Large" Icon="@Icons.Custom.Brands.LinkedIn" />
                </MudLink>
                <MudLink Class="mx-4" Href="https://github.com/RyanFloresTT" Target="_blank">
                    <MudIcon Size="Size.Large" Icon="@Icons.Custom.Brands.GitHub" />
                </MudLink>
                <MudLink Class="mx-4" Href="https://x.com/_TrustyTea" Target="_blank">
                    <MudIcon Size="Size.Large" Icon="@Icons.Custom.Brands.X" />
                </MudLink>
                <MudLink Class="mx-4" Href="@GetYouTubeURL()" Target="_blank">
                    <MudIcon Size="Size.Large" Icon="@Icons.Custom.Brands.YouTube" />
                </MudLink>
                <MudLink Class="mx-4" Href="mailto:rryanflorres@gmail.com" Target="_blank">
                    <MudIcon Size="Size.Large" Icon="@Icons.Material.Filled.Email" />
                </MudLink>
            </MudContainer>
        </div>
        <div class="col-12 d-flex justify-content-center">
            <MudContainer Style="display: flex;justify-content: center;align-items: center;">
                <MudButton StartIcon="@Icons.Material.Filled.ContactPage" EndIcon="@Icons.Material.Filled.ArrowDownward" Variant="Variant.Filled" Color="Color.Primary" Href="https://www.dropbox.com/scl/fi/16788xets5zfv0z6q5a1a/Ryan-Flores-Software-Engineer.pdf?rlkey=8sdt7t5vk4g59lqj82in7d8mm&st=mgmwmy0w&dl=1" Target="_blank">Download Resume</MudButton>
            </MudContainer>
        </div>
    </div>
</div>

<MudContainer Class="d-flex flex-wrap justify-content-center align-items-center mb-12" MaxWidth="MaxWidth.ExtraLarge">
    @if (!PortfolioData.FeaturedProjects.Any() && !PortfolioData.Projects.Any()) {
        <MudProgressCircular Color="Color.Primary" Style="height:35%;width:35%;" Indeterminate="true" />
    } else {
        @foreach (var project in PortfolioData.FeaturedProjects.OrderByDescending(x => x.PublishDate)) {
            <MudItem lg="4" md="6" sm="12" Class="p-4">
                <FeaturedProjectCard Project="project" />
            </MudItem>
        }
    }
</MudContainer>